<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
</head>
<body>
    <div>
            <h1>Itinerary</h1>
        <div>
            <div>
                <div>
                    <a href="/create", method = 'post'>Create Your Itinerary</a> 
                </div>
                {% for i in output %} 
                <div>
                    <a href="/review/itinerary/{{i.id}}">Review Your Itinerary</a> 
                </div>
                {% endfor %}
                <div>
                    <a href="/logout">Logout</a> 
                </div>
                <h2>{{current_user.first_name}} {{current_user.last_name}}</h2>
            </div>
        </div>
    </div>
</body>
</html>