<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/home.css')}}">
    <title>Document</title>
</head>
<body>
    <h1 class="title">Welcome to Your Travel Guide help center!</h1>

    <a href="#">login</a>
    <a href="#">Register</a>
    <a href="#">Careers</a>
    <a href="#">Guide Login</a>
    <h2>mission Statement</h2>
    <p>to help travelers in need of guidance and gain access to services unavailable for tourist  </p>
</body>
</html>